:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  border-bottom: 2px solid #646cff;
  padding-bottom: 10px;
}


.status-container {
  background-color: #2f2f2f; 
  padding: 1rem 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  border: 1px solid #4a4a4a;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.status-container p {
  margin: 0.75rem 0;
  font-size: 1.1rem;
  font-family: 'Courier New', Courier, monospace;
}


.tecnologias-container {
  text-align: left;
  width: 100%;
  max-width: 700px;
  padding: 1rem 2rem;
  background-color: #2f2f2f;
  border-radius: 12px;
  border: 1px solid #4a4a4a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.tecnologias-container h2 {
  font-size: 1.7rem;
  text-align: center;
  color: #888bff;
  margin-top: 0.5rem;
}

.tecnologias-container ul {
  list-style-type: '🚀';
  padding-left: 30px;
}

.tecnologias-container li {
  padding-left: 10px;
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}
